.button {
    -fx-background-color: #72a4ff;
    -fx-text-background-color: #72a4ff;
    -fx-text-fill: #fffaf4;
}

.combo-box {
    -fx-background-color: #72a4ff;
    -fx-text-background-color: #72a4ff;
    -fx-text-fill: #fffaf4;
    -fx-font-weight: bold;
}

.combo-box .list-cell {
    -fx-background-color: #72a4ff;
    -fx-text-background-color: #72a4ff;
    -fx-text-fill: #fffaf4;
}
.table-view .column-header .label {
    -fx-background-color: #72a4ff;
    -fx-text-background-color: #72a4ff;
    -fx-text-fill: #fffaf4;
    -fx-font-family: 'Rowdies';
}

.table-view .column-header-background .filler {
    -fx-background-color: #72a4ff;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: #72a4ff;
}